

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mo-row {
  max-height: 60px;
}

.mo-col {
  padding: 10px 20px 10px 10px;
}


.mo-table  {border-collapse:collapse;border-spacing:0;border-color:#fee8aa;}

.mo-table td {font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;
  background-color:#d5c7ee;}

.mo-table tr:nth-child(even) td{
  background-color: #dad4e9}

.mo-table th{font-family:Arial, sans-serif;font-size:16px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:rgb(161, 183, 228);background-color:#403055;}

.mo-table-h{font-size:14px;vertical-align:top}
