body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mo-row {
  max-height: 60px;
}

.mo-col {
  padding: 10px 20px 10px 10px;
}


table  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}

td {font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}

tr:nth-child(even) {
  background-color: #123456
}

th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}

.mo-table .mo-table-h{font-size:12px;vertical-align:top}
