.mo-box
{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px black;
    padding:0 15px 0 15px;

}
  
.mo-parent
{
  position: relative;
  top: 0;
  left: 0;
}

.mo-red {
  position: absolute;
  top: 10px;
  left: -25px;
}

.mo-blue {
  position: absolute;
  top: 10px;
  left: -25px;
}

.mo-green {
  position: absolute;
  top: 10px;
  left: -25px;
}

.mo-yellow {
  position: absolute;
  top: 10px;
  left: -25px;
}

.mo-credit
  {
    font-family:  sans-serif;
    font-size: 10px;

  }


