.mo-box
{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px black;
    padding:0 15px 0 15px;

}
  
.mo-parent
{
  position: relative;
  top: 0;
  left: 0;
  margin:auto;
  max-width: 480px;

}

.mo-red {
  position: absolute;
  top: 152px;
  left: 250px;
}

.mo-blue {
  position: absolute;
  top: 245px;
  left: 250px;
}

.mo-green {
  position: absolute;
  top: 152px;
  left: 154px;
}

.mo-yellow {
  position: absolute;
  top: 245px;
  left: 154px;
}

.mo-start {
  position: absolute;
  top: 117px;
  left: 207px;
}

.mo-strict {
  position: absolute;
  top: 76px;
  left: 122px;
}

.mo-num1s {
  position: absolute;
  top: 345px;
  left: 242px;
}

.mo-num10s {
  position: absolute;
  top: 345px;
  left: 225px;
}

.mo-credit
  {
    font-family:  sans-serif;
    font-size: 10px;

  }


