
* {
  font-family: Raleway;
}

body
{
  background-color: black;
  background: url(../art/tomato.jpg) no-repeat top center ;
  /* no-repeat center center fixed; */
  background-size: 500px;
  

}

button
{

background-color: rgb(25, 180, 25);
color: white;
border-color:rgb(25, 180, 25);
}


button:hover {
  color: #fff;
  background-color: #65e797;
  border-color: #65e797;
}






.mo-button
{
  width:40px;
}

.mo-button2
{
  width:90px;
}

.mo-buttd
{
  width:40px;
  
}

.mo-table
{
  margin:0px auto;
  width:500px;
  table-layout: fixed;
  
}

#circlecont {
  margin: 50px;
  width: 200px;
  height: 200px;
  position: relative;
}


.mo-title 
  {
    font-size: 20px;
    padding:20px 15px 15px 15px;

  }


.mo-credit
  {
    font-family:  Raleway,sans-serif;
    font-size: 10px;

  }


#searchClear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}