
body {
  margin: 0px 30px;
  padding: 0;
  font-family: 'Itim', cursive;
  
}



.mo-title {
  font-size: 75px;
  padding:10px 10px 20px 20px;
}

.mo-panel {
  padding: 15px 15px 15px 15px;
  margin: 10px;

  background-color:#fff9d9
}
textarea {
  resize:none;
  width:100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.mo-butts {
  margin: 0px 10px 15px 10px;
}

.mo-butt {
  width:100%;
  white-space: normal;
  word-wrap: break-word;


}

.mo-butt-delete-show {
  
  display:inline;
  
}

.mo-butt-delete-hide {
  
  display:none;
  
}