
body {
  margin: 0px 30px;
  padding: 0;
  font-family: 'Itim', cursive;

}

.mo-title {
  font-size: 75px;
  padding:10px 10px 20px 20px;
}

.mo-panel {
  padding: 15px 15px 15px 15px;
  background-color:#eeffaa
}
textarea {
  resize:none;
  width:100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.mo-butt {
  width:100%;
}