.mo-box
{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 100px black;
    padding:0 0px 0 0px;
  border-radius: 10px;
}
  
.container 
{
  font-family: 'Gamja Flower', cursive;
  font-size: 30px;
}

.mo-butt
{
height:50px;
width:150px;
font-family: 'Gamja Flower', cursive;
font-size: 25px;
}

.mo-space
{
  height:150px;
  width:150px;
}

.mo-parent
{
  position: relative;
  top: 0;
  left: 0;
}

.mo-foreground {
  position: absolute;
  top: 10px;
  left: -25px;
}

.mo-col
{
  /*
  float:left;
  */
}

.mo-row
{
/*  float: left;
  clear: both;
  */
}

.mo-grid 
{
margin:auto;
max-width: 390px;
  

}

.mo-title 
  {
    font-family: 'Gamja Flower', cursive;
    font-size: 50px;
    
    padding: 0px 0px 3px 0px;
    
  }

  .mo-logo
  {
    max-height: 50px;
  }
  .mo-icon
  {
    background-size: 100px;
    background-repeat: no-repeat;
     background-position: center;
     min-height:100px

  }
 
.mo-credit
  {
    font-family:  sans-serif;
    font-size: 10px;

  }


